{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Source Serif Pro', serif;
}
.main
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
.image
{
    width: 100px;
    height: auto;
    float: none;
}
img.logo
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container
{
    display: flex;
    align-items: baseline;
}
.container > div
{
    margin: 2px;
    text-align: center;
    font-size: 40px;

}
.para
{
    display: flex;
    font-size: 25px;
    text-align: center;
}
  
.pads 
{
    background: lightblue;
    width: 100%;
    display: flex;
}
.pads > div 
{
    height: 100px;
    width: 100px;
    flex: 1;
}
.pad1 
{
    background: #c060d3;
}
.pad2 
{
    background: #9f00ff;
}
.pad3
{
    background: #87CEFA;
}
.pad4 
{
    background: #60d394;
}
.pad5 
{
    background:	#FFFF00;
}
.pad6
{
    background: #FF7F50;
}
.pad7 
{
    background:	#FF0000;
}
.visual > div 
{
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
}
@keyframes jump 
{
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }  
    100% {
      bottom: 00%;
      left: 80%;
    }
}
  